h1{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: white;
  }
.text{
    position: absolute;
    top: 20%;
    font-size: 25px;
    color: white;  
}
body{
    background-image: url('bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 2%;
}
div{
    border: 1px solid black;
    width: 55%;
    padding: 10px;
    position: absolute;
    left: 40%;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
}
.form-title{
    font-size: 30px;
}
label{
    display: block;
    float: left;
    clear: left;
    width: 25%;
    text-align: right;
}
.input{
    width: 60%;
    font-size: 18px;
    display: block;
    float: left;
    text-align: center;
}
.button{
    width: 30%;
    font-size: 20px;
    border: 1px solid green;
    background-color: green;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.button:hover{
    border: 1px solid red;
    background-color: red;
}
a{
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: 25px;
    color: white; 
}